## Tarea
Identificar los valores nulos del dataset Titanic

Calcular la cantidad de sobrevivientes del titanic que sean hombres, que hayan estado en tercera clase y que sean mayores de 20 años.

Crear una nueva columna que indique si eran menor de edad (usar ‘Si’ y ‘No’).

Mostrar el histograma de los sobrevivientes en función de su edad.

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [4]:
#Pregunta 1

In [ ]:
#Pregunta 2

In [ ]:
#Pregunta 3

In [ ]:
#Pregunta 4